
// showing default values
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

/*
https://unsplash.com/photos/3InMDrsuYrk

#140c1a
#291d3a
#1d2647
#492b5f
#233e70
#0e4f8a

// accent
#fe0000

// from
#fffffa
// to
#2398de

$accentColor = #fe0000
$textColor = #233e70
$borderColor = #fffffa
$codeBgColor = #1d2647

*/

/*
https://unsplash.com/photos/XnfkPNGTp5w
#021524
#152f37
#284442
#2e4a3a
#42664c
#538154

from
#cdea58
to
#517c52

from
#c0ecc9
to
#2e3d53
*/

.home, .page .content:not(.custom) {
  max-width 33rem
}

.action-button
  display inline-block
  font-size 1.2rem
  color #fff
  background-color $accentColor
  padding 0.8rem 1.6rem
  border-radius 4px
  transition background-color .1s ease
  box-sizing border-box
  border-bottom 1px solid darken($accentColor, 10%)
  &:hover
    background-color lighten($accentColor, 10%)

.hero
  margin-top 0
  text-align center
  img
    max-height 125px
    display block
    margin 3rem auto 1.5rem
    border-radius 50%
  h1
    font-size 3rem
  h1, .description, .action
    margin 1.8rem auto
  .description
    max-width 35rem
    font-size 1.6rem
    line-height 1.3
    color lighten($textColor, 40%)
